body{
    font-family: "Open-Sans", Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 1.42 ;
    background: #29282D;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a{
    color: inherit;
}

ul {
padding: 0;
margin: 0;

}
ul li {
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: normal;
}

.container {
    margin: 0 auto;
    width: 1150px;
}
.header {
height: 120px;
position: relative;
margin-bottom: 150px;

}

.logo {

    display: block;
    position: absolute;
    top: 57px;
    left: 0px;
}

.menu   {
top: 65px;
left: 250px;
position: absolute;

}

.contacts {
    position: absolute;
    top: 48px;
    right: 0px;

}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;

}
.menu__item--active .menu__link{
    color: #dfb56d;
}


.menu__link{ 
    font-size: 14px;
    text-decoration: none;
}
.menu__link:hover{
    color: #dfb56d;
}
.contacts {
    font-style: normal;
    text-align: right;
    
}
.contacts__phone{
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 4px;
}
.contacts__workhours {
    font-size: 13px;
    text-decoration: underline;
    color: #dfb56d;
}
.hero__text_section {
    width: 400px;
}
.heto__tittle {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 18px;
}
.hero__sub {
    font-size: 18px;
    color: #dfb56d;
    margin-bottom: 45px;
}
.btn {
    background: #dfb56d;
    border-radius: 4px;
    padding: 18px 39px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

}
.btn:hover {
    background: #dfb56d;
    box-shadow: 0 0 25px 0 #dfb56d;
    
}
.section {
    margin-bottom: 138px;
}
.section__title {
    font-size: 36px; 
    font-weight: bold;
    margin-bottom: 45px;

}
.offers__item {
    min-height: 470px;
    background: #fff;
    border-radius: 4px;
    display: inline-block;
    margin-right: 28px;
    width: 362px;
}
.offers__item:last-child{
    margin-right: 0px;
}
.offers__header {
min-height: 162px;
margin-bottom: 28px;
}


