.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown__menu {
left:0;
opacity: 1;
}

.dropdown__menu {
  position: absolute;
  background: #ededed;
  border: 1px solid black;
  padding: 10px;
  width: 300px;
  top: 100%;
  left: -9999px;
  margin-top: 20px;
  opacity: 0.8;
  transition: opacity .4s;
}
.dropdown__menu::before{
    content:"";
    display: block;
    height: 30px;
    left: 0;
    right: 0;
    top: -29px;
    position: absolute;
}
.dropdown__item  {
   color: #1E1F20;

}
.dropdown__item1 {
    color: #1E1F20;
    font-weight: bold;
}