.hero__text-section {
    width: 400px;

}
.hero__title { 
    font-size: 48px;
    font-weight: bold;
    line-height: 1.1 ;
    margin-bottom: 18px;
}
.hero__subtitle {
    font-size: 18px;
    color:#dfb56d 

}