.hero__text-section {
    width: 38%;

}
.hero__title { 
    font-size: 48px;
    font-weight: bold;
    line-height: 1.1 ;
    margin-bottom: 26px;
    margin-top: 140px;
}
.hero__subtitle {
    font-size: 18px;
    color:#dfb56d;
    margin-bottom: 45px;
    
}
.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
}