.news {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}
.news__item {
  height: 392px;
  margin-right: 25px;
  flex: 1;
}
.news__item:last-child {
  margin-right: 0;
}
.single-news {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.single-news__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}
.single-news__text-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
  min-height: 140px;
}
.single-news__date {
  font-size: 15px;
  margin-bottom: 18px;
}
.single-news__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}
