.reviews {
    column-count: 2;
    column-gap: 30px;
}
.reviews__item {
    margin-bottom: 20px;
}
.review {
  display: inline-flex;
  flex-direction: column;
  padding: 50px 30px;
  background: #f4f5f5;
}
.avatar {
  width: 140px;
  height: 140px;
  overflow: hidden;
  border-radius: 50%;
}
.review__header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.review__user {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #4d76a1;
  margin-bottom: 11px;
}
.review__user:after {
  content: url(../../img/vk-blue\ 1.png);
  height: 29px;
}

.review_tags {
  display: flex;
  align-items: flex-start;
}
.tag {
  font-size: 13px;
  color: #333;
  padding: 8px 16px;
  border-radius: 50px;
  background: #e6e6e6;
}
.tag--bg--green {
  background: #c7e9d0;
}
.review__title {
    font-size: 30px;
    color: #202123;
    font-weight: bold;
    margin-bottom: 23px;

}
.review__content-text{
    margin-bottom: 50px;
}
.review__date {
    font-size: 14px;
    color: #202123;
    font-weight: bold;
}
.form__row:focus {
  border: 1px solid  #E5C288;
  background: #f4f5f5;
}