.socials {
    margin-right: 74px ;
    top: 53px;
    right: 300px;

}

.social__item:last-child{
    margin-right: 0;
}
.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;


}
.socials__item--icon--tg .socials__link {
 background: url(../../img/sprite.png) -290px -10px;
}  
.socials__item--icon--tg .socials__link:hover {
    background: url(../../img/sprite.png) -234px -10px;
}
.socials__item--icon--vk .socials__link {
    background: url(../../img/sprite.png) -346px -10px;
}
.socials__item--icon--vk .socials__link:hover {
    background: url(../../img/sprite.png) -402px -10px;
}
.socials__item--icon--fb .socials__link {
    background: url(../../img/sprite.png) -10px -10px; }  
.socials__item--icon--fb .socials__link:hover {
    background: url(../../img/sprite.png) -66px -10px;}
.socials__item--icon--inst .socials__link {
    background: url(../../img/sprite.png) -122px -10px;}   
.socials__item--icon--inst .socials__link:hover {
    background: url(../../img/sprite.png) -178px -10px;}
.socials__item{
    display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
