.socials {
    position: absolute;
    top: 53px;
    right: 300px;

}

.social__item:last-child{
    margin-right: 0;
}
.socials__link {
    display: inline-block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;


}
.socials__item--icon--tg .socials__link {
    background-image: url(../../img/telegram.png);
}  
.socials__item--icon--tg .socials__link:hover {
    background-image: url(../../img/t_hover.png);
}
.socials__item--icon--vk .socials__link {
    background-image: url(../../img/vk.png);
}
.socials__item--icon--vk .socials__link:hover {
    background-image: url(../../img/vk_hover.png);
}
.socials__item--icon--fb .socials__link {
    background-image: url(../../img/f.png);}
.socials__item--icon--fb .socials__link:hover {
    background-image: url(../../img/fb_hover.png);
}
.socials__item--icon--inst .socials__link {
    background-image: url(../../img/in.png);}
.socials__item--icon--inst .socials__link:hover {
    background-image: url(../../img/in_hover.png);
}
.socials__item{
    display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
